In [158]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [159]:
train = pd.read_csv("train.csv")

In [160]:
train.describe()
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 81 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             1460 non-null   int64
 1   MSSubClass     1460 non-null   int64
 2   MSZoning       1460 non-null   object
 3   LotFrontage    1201 non-null   float64
 4   LotArea        1460 non-null   int64
 5   Street         1460 non-null   object
 6   Alley          91 non-null     object
 7   LotShape       1460 non-null   object
 8   LandContour    1460 non-null   object
 9   Utilities      1460 non-null   object
 10  LotConfig      1460 non-null   object
 11  LandSlope      1460 non-null   object
 12  Neighborhood   1460 non-null   object
 13  Condition1     1460 non-null   object
 14  Condition2     1460 non-null   object
 15  BldgType       1460 non-null   object
 16  HouseStyle     1460 non-null   object
 17  OverallQual    1460 non-null   int64
 18  OverallCond    1460 non-null   int64
 19  YearBuilt      1460 non-null   int64
 20  YearRemodAdd   1460 non-null   int64
 21  RoofStyle      1460 non-null   object
 22  RoofMatl       1460 non-null   object
 23  Exterior1st    1460 non-null   object
 24  Exterior2nd    1460 non-null   object
 25  MasVnrType     1452 non-null   object
 26  MasVnrArea     1452 non-null   float64
 27  ExterQual      1460 non-null   object
 28  ExterCond      1460 non-null   object
 29  Foundation     1460 non-null   object
 30  BsmtQual       1423 non-null   object
 31  BsmtCond       1423 non-null   object
 32  BsmtExposure   1422 non-null   object
 33  BsmtFinType1   1423 non-null   object
 34  BsmtFinSF1     1460 non-null   int64
 35  BsmtFinType2   1422 non-null   object
 36  BsmtFinSF2     1460 non-null   int64
 37  BsmtUnfSF      1460 non-null   int64
 38  TotalBsmtSF    1460 non-null   int64
 39  Heating        1460 non-null   object
 40  HeatingQC      1460 non-null   object
 41  CentralAir     1460 non-null   object
 42  Electrical     1459 non-null   object
 43  1stFlrSF       1460 non-null   int64
 44  2ndFlrSF       1460 non-null   int64
 45  LowQualFinSF   1460 non-null   int64
 46  GrLivArea      1460 non-null   int64
 47  BsmtFullBath   1460 non-null   int64
 48  BsmtHalfBath   1460 non-null   int64
 49  FullBath       1460 non-null   int64
 50  HalfBath       1460 non-null   int64
 51  BedroomAbvGr   1460 non-null   int64
 52  KitchenAbvGr   1460 non-null   int64
 53  KitchenQual    1460 non-null   object
 54  TotRmsAbvGrd   1460 non-null   int64
 55  Functional     1460 non-null   object
 56  Fireplaces     1460 non-null   int64
 57  FireplaceQu    770 non-null    object
 58  GarageType     1379 non-null   object
 59  GarageYrBlt    1379 non-null   float64
 60  GarageFinish   1379 non-null   object
 61  GarageCars     1460 non-null   int64
 62  GarageArea     1460 non-null   int64
 63  GarageQual     1379 non-null   object
 64  GarageCond     1379 non-null   object
 65  PavedDrive     1460 non-null   object
 66  WoodDeckSF     1460 non-null   int64
 67  OpenPorchSF    1460 non-null   int64
 68  EnclosedPorch  1460 non-null   int64
 69  3SsnPorch      1460 non-null   int64
 70  ScreenPorch    1460 non-null   int64
 71  PoolArea       1460 non-null   int64
 72  PoolQC         7 non-null      object
 73  Fence          281 non-null    object
 74  MiscFeature    54 non-null     object
 75  MiscVal        1460 non-null   int64
 76  MoSold         1460 non-null   int64
 77  YrSold         1460 non-null   int64
 78  SaleType       1460 non-null   object
 79  SaleCondition  1460 non-null   object
 80  SalePrice      1460 non-null   int64
dtypes: float64(3), int64(35), object(43)
memory usage: 924.0+ KB

In [161]:
train.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [162]:
train.shape

(1460, 81)

In [163]:
# feature selection
# we select the columns that have more than 0.50 corr with price, as important columns

imp_cols = np.array(train.corr()["SalePrice"][(train.corr()["SalePrice"] > 0.50) | (train.corr()["SalePrice"]<-0.50)].index)
print(imp_cols)

['OverallQual' 'YearBuilt' 'YearRemodAdd' 'TotalBsmtSF' '1stFlrSF'
 'GrLivArea' 'FullBath' 'TotRmsAbvGrd' 'GarageCars' 'GarageArea'
 'SalePrice']

In [164]:
# taking some of the categorical parameters in cat_cols variable
cat_cols = ["MSZoning", "Utilities","BldgType","Heating","KitchenQual","SaleCondition","LandSlope"]
important_num_cols = list(train.corr()["SalePrice"][(train.corr()["SalePrice"]>0.50) | (train.corr()["SalePrice"]<-0.50)].index)
important_cols = important_num_cols + cat_cols

print(important_cols)
train = train.reindex(columns=important_cols)
train = train[important_cols]

['OverallQual', 'YearBuilt', 'YearRemodAdd', 'TotalBsmtSF', '1stFlrSF', 'GrLivArea', 'FullBath', 'TotRmsAbvGrd', 'GarageCars', 'GarageArea', 'SalePrice', 'MSZoning', 'Utilities', 'BldgType', 'Heating', 'KitchenQual', 'SaleCondition', 'LandSlope']

In [165]:
# data visualization
# sns.pairplot(train[important_cols])

In [166]:
X_train = train.drop("SalePrice", axis=1)
y_train = train["SalePrice"]
print("hi")

hi

In [167]:
# one hot encoding, to convert categorical data into numerical data
X_train = pd.get_dummies(X_train, columns=cat_cols)

In [168]:
important_num_cols.remove("SalePrice")

In [169]:
# standardizing the data (converting to normal distribution)

from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_train[important_num_cols] = scaler.fit_transform(X_train[important_num_cols])

In [170]:
# as you can see, standardization is done successfully
X_train.head()

,OverallQual,YearBuilt,YearRemodAdd,TotalBsmtSF,1stFlrSF,GrLivArea,FullBath,TotRmsAbvGrd,GarageCars,GarageArea,...,KitchenQual_TA,SaleCondition_Abnorml,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial,LandSlope_Gtl,LandSlope_Mod,LandSlope_Sev
0,0.651479,1.050994,0.878668,-0.459303,-0.793434,0.370333,0.789741,0.912210,0.311725,0.351000,...,0,0,0,0,0,1,0,1,0,0
1,-0.071836,0.156734,-0.429577,0.466465,0.257140,-0.482512,0.789741,-0.318683,0.311725,-0.060731,...,1,0,0,0,0,1,0,1,0,0
2,0.651479,0.984752,0.830215,-0.313369,-0.627826,0.515013,0.789741,-0.318683,0.311725,0.631726,...,0,0,0,0,0,1,0,1,0,0
3,0.651479,-1.863632,-0.720298,-0.687324,-0.521734,0.383659,-1.026041,0.296763,1.650307,0.790804,...,0,1,0,0,0,0,0,1,0,0
4,1.374795,0.951632,0.733308,0.199680,-0.045611,1.299326,0.789741,1.527656,1.650307,1.698485,...,0,0,0,0,0,1,0,1,0,0

In [171]:
# train-test split
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_train, y_train, test_size = 0.2, random_state=42)

In [172]:
from sklearn.linear_model import LinearRegression
linear_model = LinearRegression()
linear_model.fit(X_train, y_train)
predictions = linear_model.predict(X_test)

In [173]:
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error

In [174]:
mae = mean_absolute_error(y_test, predictions)
mse = mean_squared_error(y_test, predictions)
rmse = np.sqrt(mse)

In [175]:
print(f'mae is : {mae}')
print(f'mse is : {mse}')
print(f'rmse is : {rmse}')

mae is : 23567.890565943395
mse is : 1414931404.6297855
rmse is : 37615.573963848874

In [176]:
print(y_test.shape, predictions.shape)
accuracy = r2_score(y_test, predictions)
print(f'r2 score is : {accuracy}')

(292,) (292,)
r2 score is : 0.8155317822983865

In [177]:
# that was it for the linear model, it gave us an 81.55% accuracy
# now we will try lasso regression

In [178]:
from sklearn.linear_model import Lasso

In [179]:
lasso = Lasso()
lasso.fit(X_train, y_train)
predictions = lasso.predict(X_test)

mae = mean_absolute_error(y_test, predictions)
mse = mean_squared_error(y_test, predictions)
rmse = np.sqrt(mse)

In [180]:
print(f'mae is : {mae}')
print(f'mse is : {mse}')
print(f'rmse is : {rmse}')

mae is : 23560.458080272365
mse is : 1414337628.5020955
rmse is : 37607.6804456496

In [181]:
accuracy = r2_score(y_test, predictions)
print(f'r2 score is : {accuracy}')

r2 score is : 0.8156091944072918

In [182]:
# lasso gave us the same accuracy, 81.56
# next lets try ridge regression

In [183]:
from sklearn.linear_model import Ridge
ridge = Ridge()
ridge.fit(X_train, y_train)
predictions = ridge.predict(X_test)

mae = mean_absolute_error(y_test, predictions)
mse = mean_squared_error(y_test, predictions)
rmse = np.sqrt(mse)

In [184]:
print(f'mae is : {mae}')
print(f'mse is : {mse}')
print(f'rmse is : {rmse}')

mae is : 23435.5037120082
mse is : 1404264216.8595576
rmse is : 37473.51353769163

In [187]:
accuracy = r2_score(y_test, predictions)
print(f'r2 score is : {accuracy}')

r2 score is : 0.8169224907874509

In [188]:
# ridge gave us slightly better results, at 81.6% accuracy
# now lets try elastic net

In [189]:
from sklearn.linear_model import ElasticNet
elastic_net = ElasticNet()
elastic_net.fit(X_train, y_train)
predictions = elastic_net.predict(X_test)

mae = mean_absolute_error(y_test, predictions)
mse = mean_squared_error(y_test, predictions)
rmse = np.sqrt(mse)

print(f'mae is : {mae}')
print(f'mse is : {mse}')
print(f'rmse is : {rmse}')

mae is : 23792.743784996732
mse is : 1718445790.1371398
rmse is : 41454.140808092256

In [190]:
accuracy = r2_score(y_test, predictions)
print(f'r2 score is : {accuracy}')

r2 score is : 0.775961837382229

In [191]:
# elastic net gave us worse results, so we will not consider this for our best model
# now we will try support vector machines

In [192]:
from sklearn.svm import SVR
svr = SVR(C=100000)
svr.fit(X_train, y_train)
predictions = svr.predict(X_test)

mae = mean_absolute_error(y_test, predictions)
mse = mean_squared_error(y_test, predictions)
rmse = np.sqrt(mse)

print(f'mae is : {mae}')
print(f'mse is : {mse}')
print(f'rmse is : {rmse}')

accuracy = r2_score(y_test, predictions)
print(f'r2 score is : {accuracy}')

mae is : 17843.162280849738
mse is : 1132136370.3413308
rmse is : 33647.23421533085
r2 score is : 0.8524004925265741

In [193]:
# this gives us much better results at 85.24% accuracy, so far our best model
# now lets try random forest regressor

In [194]:
from sklearn.ensemble import RandomForestRegressor
random_forest = RandomForestRegressor(n_estimators=100)
random_forest.fit(X_train, y_train)
predictions = random_forest.predict(X_test)

mae = mean_absolute_error(y_test, predictions)
mse = mean_squared_error(y_test, predictions)
rmse = np.sqrt(mse)

print(f'mae is : {mae}')
print(f'mse is : {mse}')
print(f'rmse is : {rmse}')

accuracy = r2_score(y_test, predictions)
print(f'r2 score is : {accuracy}')

mae is : 18362.039311806915
mse is : 982353961.084802
rmse is : 31342.526399204038
r2 score is : 0.8719280074210751

In [195]:
# this gave us an even better result, at 87.19% accuracy, so far our best model 
# now lets try xgboost regressor

In [198]:
from xgboost import XGBRegressor
xgb = XGBRegressor(n_estimators=1000, learning_rate=0.01)
xgb.fit(X_train, y_train)
predictions = xgb.predict(X_test)

mae = mean_absolute_error(y_test, predictions)
mse = mean_squared_error(y_test, predictions)
rmse = np.sqrt(mse)

print(f'mae is : {mae}')
print(f'mse is : {mse}')
print(f'rmse is : {rmse}')

accuracy = r2_score(y_test, predictions)
print(f'r2 score is : {accuracy}')

mae is : 17439.918396832192
mse is : 716579004.5214689
rmse is : 26768.993341578403
r2 score is : 0.9065777666861116

In [199]:
# this is our best model now, at 90.65% accuracy
# now lets try polynomial regression with degree 2

In [203]:
from sklearn.preprocessing import PolynomialFeatures
poly_reg = PolynomialFeatures(degree = 2)
X_train_2d = poly_reg.fit_transform(X_train)
X_test_2d = poly_reg.transform(X_test)

lin_reg = LinearRegression()
lin_reg.fit(X_train_2d, y_train)
predictions = lin_reg.predict(X_test_2d)

In [204]:
mae = mean_absolute_error(y_test, predictions)
mse = mean_squared_error(y_test, predictions)
rmse = np.sqrt(mse)

print(f'mae is : {mae}')
print(f'mse is : {mse}')
print(f'rmse is : {rmse}')

accuracy = r2_score(y_test, predictions)
print(f'r2 score is : {accuracy}')

mae is : 452089126851973.56
mse is : 4.855994838073885e+30
rmse is : 2203632192103275.0
r2 score is : -6.330884380802213e+20

In [205]:
# hence the best model we have obtained was through xgboost regressor, with 90.65% accuracy